#content-area {
    margin-left: 80px;
    padding: 15px;
    .heading {
        h1 {
            color: $purple;
            font-size: 1.4rem;
            font-weight: 400;
            margin-bottom: 10px;
        }
        p {
            color: $darkGreyFont;
            font-size: 0.8rem;
            margin-bottom: 10px;
        }
    }
    .cards {
        overflow: hidden;
        margin-bottom: 30px;
        .card {
            background: $white;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 30px;
            .user-img {
                background: url('https://randomuser.me/api/portraits/men/91.jpg') no-repeat center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                width: 115px;
                height: 115px;
                border-radius: 50%;
                margin: 0 auto;
            }
            .user-name {
                font-size: 1rem;
                color: $purple;
                display: block;
                text-align: center;
                margin: 10px 0;
            }
            .user-title {
                display: block;
                font-size: 0.8rem;
                text-align: center;
                margin: 10px 0;
            }
            .education {
                font-size: 0.8rem;
                display: inline-block;
            }
            .schools {
                font-size: 0.8rem;
                color: $purpleDark;
            }
            h6 {
                font-size: 0.8rem;
            }
            .date {
                font-size: 1.3rem;
                display: block;
                border-left: 5px solid $neonGreen;
                position: relative;
                left: -20px;
                padding: 5px 40px;
                margin: 20px 0;
            }
            .job-type {
                background: $orange;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                font-size: 0.6rem;
                color: $white;
                padding: 5px;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
            }
            .location {
                font-size: 0.8rem;
                font-weight: 300;
                display: block;
                margin-bottom: .5rem;
            }
            .position {
                font-size: 0.8rem;
                font-weight: 500;
            }
            .time {
                display: block;
                font-size: 0.8rem;
                font-weight: 300;
                color: $darkGrey;
            }
        }
    }
}

table {
    width: 100%;
    thead {
        background: $lightGreyBG;
        th {
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
            padding: 15px 10px;
            text-align: left;
            color: $darkGreyFont;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-top-left-radius: 5px;
            -moz-border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            
        }
    }
    tbody {
        background: $white;
        font-size: 0.8rem;
        td {
            padding: 20px 10px;
            color: $darkGreyFont;
            .logo {
                display: inline-block;
                background: $neonGreen;
                padding: 15px;
                border-radius: 50%;
                margin-right: 20px;
                width: 45px;
                height: 45px;
                color: $white;
            }
        }
    }
}